/* add space beneath folded headers - reader view, edit view */
.is-collapsed > :is(h1, h2, h3, h4, h5, h6),
.HyperMD-header > .cm-fold-indicator.is-collapsed ~ .cm-widgetBuffer:last-of-type { 
    margin-top: 10px !important; 
    margin-bottom: 10px !important; 
    border-bottom: 0px;
}

